
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  cursor: url("data:image/svg+xml,  <svg version='1.0' xmlns='http://www.w3.org/2000/svg'  width='298.000000pt' height='289.000000pt' viewBox='0 0 298.000000 289.000000'  preserveAspectRatio='xMidYMid meet'>  <g transform='translate(0.000000,289.000000) scale(0.100000,-0.100000)'  fill='#000000' stroke='none'>  <path d='M400 2859 c-60 -9 -134 -42 -183 -82 -23 -17 -37 -26 -33 -18 6 10 5  12 -2 7 -7 -4 -12 -13 -12 -20 0 -8 -8 -20 -17 -27 -16 -12 -17 -12 -8 1 6 9  0 4 -13 -10 -12 -14 -20 -31 -17 -37 2 -7 -1 -12 -7 -10 -25 5 -68 -121 -68  -198 0 -67 52 -195 96 -237 16 -15 45 -46 64 -69 19 -23 54 -61 78 -85 23 -25  42 -48 42 -54 0 -5 18 -30 40 -55 22 -26 47 -60 56 -77 9 -17 20 -36 25 -42  49 -62 59 -75 59 -81 0 -4 25 -47 55 -95 30 -48 55 -92 55 -99 0 -6 5 -11 10  -11 12 0 13 -45 1 -68 -11 -21 -21 -100 -26 -210 -8 -140 42 -322 128 -467 22  -38 46 -76 51 -83 28 -35 132 -132 143 -132 6 0 18 -8 25 -18 15 -20 105 -79  128 -84 8 -2 17 -6 20 -9 3 -3 39 -23 80 -43 41 -21 82 -41 90 -45 35 -18 202  -61 212 -55 6 4 8 3 5 -3 -10 -15 26 -22 114 -22 103 0 125 -7 140 -43 21 -50  58 -87 118 -117 72 -36 95 -41 186 -42 72 -1 190 28 223 54 6 5 12 7 12 3 0  -5 62 27 155 78 11 6 43 28 72 49 29 20 57 37 63 37 6 0 57 46 113 103 99 99  165 191 171 238 2 13 6 31 9 39 30 82 29 150 -2 222 -17 40 -55 85 -70 81 -17 -4 -61 33 -61 52 0 18 1 18 13 -4 17 -33 37 -38 39 -9 0 13 3 34 5 48 12 72 14 294 3 370 -16 112 -53 243 -93 330 -11 25 -22 52 -23 60 -2 8 -13 34 -26 56 -13 23 -38 69 -57 103 -19 34 -55 86 -80 115 -25 30 -57 70 -71 89 -14 20 -27 35 -30 34 -12 -3 -50 25 -45 33 4 6 -1 7 -11 3 -14 -5 -16 -3 -11 11 5 13 3 17 -6 13 -15 -6 -59 28 -49 38 4 3 3 5 -3 4 -5 -2 -31 9 -58 25 -146 87 -297 99 -439 36 -26 -11 -51 -20 -54 -20 -4 1 -10 -3 -13 -9 -5 -7 -27 -2 -66 13 -108 43 -254 41 -361 -6 -60 -26 -167 -94 -181 -115 -27 -40 -39 -34 -98 43 -31 42 -55 78 -52 80 2 3 23 -20 46 -51 23 -30 44 -55 47 -55 2 0 -21 34 -52 75 -31 41 -58 75 -60 75 -2 0 -1 -8 2 -17 5 -14 4 -15 -4 -4 -6 8 -8 20 -5 27 2 6 0 15 -6 19 -6 3 -11 1 -11 -5 0 -6 -4 -9 -10 -5 -5 3 -7 12 -4 19 3 8 0 17 -7 22 -8 5 -10 3 -4 -6 5 -8 4 -11 -3 -6 -6 4 -9 12 -6 19 2 7 -10 33 -28 58 -17 24 -37 53 -43 64 -17 33 -99 134 -104 129 -2 -2 5 -14 16 -27 11 -12 23 -29 27 -37 8 -16 5 -13 -39 41 -11 13 -38 37 -60 53 -22 17 -42 32 -45 35 -3 4 -14 7 -25 9 -11 1 -40 5 -65 8 -25 3 -49 6 -55 8 -5 1 -30 -1 -55 -5z m131 -100 c61 -21 97 -58 201 -207 201 -289 312 -429 433 -545 74 -72 123 -106 214 -152 98 -49 120 -42 48 14 -59 45 -224 212 -272 275 l-28 37 39 40 c21 22 75 58 119 80 65 33 95 41 157 46 103 8 159 -8 270 -76 191 -118 324 -163 203 -69 -33 25 -77 64 -98 86 l-38 39 48 21 c114 48 233 32 360 -48 144 -92 247 -223 350 -445 117 -253 149 -493 97 -744 -23 -108 -49 -156 -138 -249 -140 -146 -363 -297 -506 -344 -83 -26 -296 -36 -409 -18 -180 29 -426 132 -568 237 -120 90 -217 232 -258 379 -18 64 -32 285 -21 330 7 25 12 19 72 -86 35 -63 64 -116 64 -118 0 -10 126 -221 172 -288 108 -158 97 -114 -52 201 -292 620 -425 839 -705 1160 -35 40 -73 90 -84 111 -25 47 -28 129 -5 182 48 115 216 191 335 151z m2188 -1825 c26 -34 27 -84 2 -157 -25 -71 -64 -128 -132 -193 -145 -136 -357 -259 -491 -284 -74 -14 -163 2 -207 38 -57 46 -52 55 42 73 137 27 296 108 462 237 103 79 232 211 267 271 12 22 26 41 30 41 4 0 16 -12 27 -26z'/> <path d='M2206 1434 c-23 -23 -21 -34 33 -146 27 -57 63 -147 81 -201 34 -104 53 -127 90 -107 35 19 25 71 -43 245 -39 99 -93 206 -111 217 -17 12 -33 9 -50 -8z'/> <path d='M1888 1379 c-31 -18 -20 -54 46 -141 36 -47 105 -148 155 -224 123 -189 122 -188 153 -181 58 15 46 51 -76 233 -109 165 -227 318 -246 321 -8 2 -23 -2 -32 -8z'/> <path d='M1770 1033 c-20 -8 -30 -23 -30 -47 0 -11 43 -64 98 -120 54 -56 118 -125 141 -153 46 -57 71 -65 95 -31 18 26 12 40 -56 123 -59 71 -218 235 -227 234 -3 0 -13 -3 -21 -6z'/> </g> </svg> ") 0 0, pointer;
  cursor: url("data:image/svg+xml,<svg width='24' height='24' viewBox='0 0 156 153' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M116.024 135.424C122.204 141.3 115.221 145.063 105.808 147.841C92.4909 151.773 59.5422 149.858 48.2617 145.91C37.9087 142.287 33.3148 136.942 38.2443 132.305' fill='white'/><path d='M116.024 135.424C122.204 141.3 115.221 145.063 105.808 147.841C92.4909 151.773 59.5422 149.858 48.2617 145.91C37.9087 142.287 33.3148 136.942 38.2443 132.305' stroke='black' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/><path d='M3.05902 92.4269C1.63731 107.468 26.0981 131.079 55.0732 136.566C70.0349 139.399 103.708 140.255 115.595 135.194C135.949 126.526 146.242 115.352 150.895 101.539C152.544 96.6419 153.726 91.0008 152.482 86.4779C147.192 67.2336 127.688 67.2482 120.12 66.5652C115.598 58.1968 99.0611 52.1351 76.8896 54.6803C76.719 44.3733 77.2637 38.0243 78.7342 28.2686C81.1939 11.9499 32.3222 8.27474 34.802 28.257C36.4908 41.8648 34.8466 52.8837 30.6571 65.6646C24.9364 66.6604 4.54342 76.7227 3.05902 92.4269V92.4269Z' fill='white' stroke='black' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/><path d='M73.5146 54.0594C73.5657 63.8942 75.5293 71.5403 85.498 79.0989C81.3369 72.7921 79.9105 60.2359 80.23 52.301L73.5146 54.0594Z' fill='black'/><path d='M122.658 64.7896L116.341 66.2151C119.54 71.5642 123.059 77.5738 128.138 80.7782C126.346 78.2795 124.694 69.289 122.658 64.7896Z' fill='black'/><path d='M99.7236 128.133C106.418 118.85 106.317 116.177 108.339 111.439' stroke='black' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/><path d='M84.165 128.8C86.9714 117.794 86.5269 112.348 87.2423 104.919' stroke='black' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/><path d='M65.5599 129.311C65.7209 121.656 64.5668 118.037 63.8203 113.167' stroke='black' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/><path d='M27.7593 64.2943C24.9357 75.8923 17.4827 94.6823 19.7813 100.947C21.7465 97.1201 33.6389 68.6845 34.928 62.865L27.7593 64.2943Z' fill='black'/><path d='M34.9567 13.8541C41.0256 5.98976 69.6562 4.21594 79.5024 13.2749C75.623 -1.91552 33.1414 2.02318 34.9567 13.8541Z' fill='black'/></svg>") 0 0, pointer;

  // background-color: #fff;
  background-color: #121212;
  font-family: 'Bungee Inline', cursive;
  /* color: white; */
   margin: 0;
   
  /* display: flex;
  place-items: center;
  min-width: 320px; */
  min-height: 100vh;  
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}



button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.header{
  background-color: #BFBFBF;
  min-height: 64px;
  max-height: 20vh;
  position: relative;
  padding : 0px 32px
}
.profile-image{
  position: absolute;
  background: #fff;
  left: 50%;
    /* transform: translate(-50%); */
  /* bottom: -20vh;
  height: 20vh;
  width: 20vh; */
  border-radius: 50%;
}


.row{
  min-height: 64px;
  max-height: 20vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.row-end{
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}
.row-item{
  padding: 12px 0px 12px 12px;
}

.pointer{
  cursor: url("data:image/svg+xml,<svg width='24' height='24' viewBox='0 0 156 153' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M116.024 135.424C122.204 141.3 115.221 145.063 105.808 147.841C92.4909 151.773 59.5422 149.858 48.2617 145.91C37.9087 142.287 33.3148 136.942 38.2443 132.305' fill='white'/><path d='M116.024 135.424C122.204 141.3 115.221 145.063 105.808 147.841C92.4909 151.773 59.5422 149.858 48.2617 145.91C37.9087 142.287 33.3148 136.942 38.2443 132.305' stroke='black' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/><path d='M3.05902 92.4269C1.63731 107.468 26.0981 131.079 55.0732 136.566C70.0349 139.399 103.708 140.255 115.595 135.194C135.949 126.526 146.242 115.352 150.895 101.539C152.544 96.6419 153.726 91.0008 152.482 86.4779C147.192 67.2336 127.688 67.2482 120.12 66.5652C115.598 58.1968 99.0611 52.1351 76.8896 54.6803C76.719 44.3733 77.2637 38.0243 78.7342 28.2686C81.1939 11.9499 32.3222 8.27474 34.802 28.257C36.4908 41.8648 34.8466 52.8837 30.6571 65.6646C24.9364 66.6604 4.54342 76.7227 3.05902 92.4269V92.4269Z' fill='white' stroke='black' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/><path d='M73.5146 54.0594C73.5657 63.8942 75.5293 71.5403 85.498 79.0989C81.3369 72.7921 79.9105 60.2359 80.23 52.301L73.5146 54.0594Z' fill='black'/><path d='M122.658 64.7896L116.341 66.2151C119.54 71.5642 123.059 77.5738 128.138 80.7782C126.346 78.2795 124.694 69.289 122.658 64.7896Z' fill='black'/><path d='M99.7236 128.133C106.418 118.85 106.317 116.177 108.339 111.439' stroke='black' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/><path d='M84.165 128.8C86.9714 117.794 86.5269 112.348 87.2423 104.919' stroke='black' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/><path d='M65.5599 129.311C65.7209 121.656 64.5668 118.037 63.8203 113.167' stroke='black' stroke-width='5' stroke-linecap='round' stroke-linejoin='round'/><path d='M27.7593 64.2943C24.9357 75.8923 17.4827 94.6823 19.7813 100.947C21.7465 97.1201 33.6389 68.6845 34.928 62.865L27.7593 64.2943Z' fill='black'/><path d='M34.9567 13.8541C41.0256 5.98976 69.6562 4.21594 79.5024 13.2749C75.623 -1.91552 33.1414 2.02318 34.9567 13.8541Z' fill='black'/></svg>") 0 0, pointer;

  
}

.menu{
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  inset: 0 96vw;
}


.line-menu{
  height:24px;
  width: 4px;
  margin-top: 4px;
  background-color: #F9F9F9;
}
::-webkit-scrollbar {
  height: 12px;
  width: 5px;
  background: black;
}

::-webkit-scrollbar-thumb {
  background:red;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background:red;
}

